<tr>
	<td>
		<div class="info-list-user-entry" user-uuid="{{userUuid}}" user-name="{{userName}}" frozen="{{userFrozen}}" onclick="editModeratorClickHandler(event)" draggable="true" ondragstart="moderatorDragstartHandler(event)" ondragend="moderatorDragendHandler(event)">
			<div class="info-list-user-entry-headholder">
				<img src="https://api.hypixel.pl/skinrender/minefox/head/{{userName}}/32" height="32px" width="27px" class="info-list-user-entry-headview">
				<img src="../img/ice-head.webp" height="36px" width="31px" class="info-list-user-entry-headfreeze">
			</div>
			<div>{{userName}}</div>
		</div>
	</td>
</tr>