.header-username-input-holder {
	--background-color: hsl(213deg 15% 20%);
	--border-color: hsl(213deg 15% 16%);
	margin: 2px 10px;
	position: relative;
	width: max-content;
}

.header-username-input-holder > .header-username-input.active {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-color: var(--background-color);
}

.header-username-input-holder > .header-username-input {
    transition-duration: .1s;
    margin: 0;
}

.header-username-input-suggestions {
    position: absolute;
	display: flex;
	flex-direction: column;
    align-items: stretch;
    top: 100%;
    left: 0;
    right: 0;
    padding: 2px 5px 5px;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    border-top: 0;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: hsl(213deg 20% 40%);
	z-index: 99;
}

.header-username-input-suggestions span.subject {
	text-decoration: underline;
	font-weight: bold;
}

.header-username-input-holder > .header-username-input:not(.active) + .header-username-input-suggestions {
    display: none;
}

.header-username-input-suggestions-entry {
    padding: 3px 5px;
    border-radius: 10px;
	transition: background-color .2s ease;
	cursor: pointer;
}

.header-username-input-suggestions-empty {
    padding: 3px 5px;
	text-align: center;
	cursor: default;
	font-style: italic;
}

.header-username-input-suggestions-empty:has(+ .header-username-input-suggestions-entry) {
	display: none;
}

.header-username-input-suggestions-entry:hover {
    background-color: hsl(207deg 50% 30% / 50%);
	color: hsl(213 20% 60% / 1);
}